

python-dotenv===1.0.1
numpy===1.26.4
matplotlib===3.9.2
ipykernel===6.29.5
lxml===5.3.0
nbformat===5.10.4
jinja2===3.1.4
ipywidgets===8.1.5
pydantic===2.9.2
requests===2.32.3
docker===7.1.0
datasets===3.1.0
huggingface-hub===0.27.1
transformers===4.46.2
peft===0.14.0
trl===0.12.0
accelerate===1.1.1
pyarrow===17.0.0
polars===1.21.0
https://download.pytorch.org/whl/cu124/torch-2.5.0%2Bcu124-cp310-cp310-linux_x86_64.whl
unsloth===2024.11.5
unsloth_zoo===2024.11.4
xformers===0.0.28.post2
tensorboard===2.18.0
python-multipart===0.0.20
litserve===0.2.6

